<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FoodTruck Bonzana</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css?version=1.0">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Food Truck City</h1>
      <p>.....</p>
      <p><a class="btn btn-primary btn-lg" href="/getdata" role="button">Update Today's Foodtruck Data</a></p>
    </div>


      <p><a class="btn btn-primary btn-lg" href="/city" role="button">Get fancy Food Truck Data by City</a></p>
      <p><a class="btn btn-primary btn-lg" href="/vendor" role="button">Where is my favorite food truck?</a></p>
      <p><a class="btn btn-primary btn-lg" href="/vendorhistory" role="button">Where has my favorite food truck been?</a></p>
  
</body>

</html>
