<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Just for fun: Word Cloud</title>

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Load d3-cloud -->
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
  </head>

  <body>
        <h1>Find out where the hot locations are today by a Word Cloud</h1>
        
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Go Home</a></p>
        <div id="my_dataviz"></div>


        <script type="text/javascript" src="/static/wordcloudlogic.js"></script>



    <body> 

</html>
